<body>
  <div class="perfil">
    <div class="nome">

      <div class="label-nome">
        <label>Nome: </label>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Exemplo">
        <mat-icon matSuffix></mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>

    <div class="sobrenome">

      <div class="label-sobrenome">
        <label>Sobrenome: </label>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Sobrenome</mat-label>
        <input matInput placeholder="Exemplo">
        <mat-icon matSuffix></mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>

    <div class="endereco">

      <div class="label-endereco">
        <label>Endereço: </label>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Endereço</mat-label>
        <input matInput placeholder="Exemplo">
        <mat-icon matSuffix></mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>

    <div class="bairro">

      <div class="label-bairro">
        <label>Bairro: </label>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Bairro</mat-label>
        <input matInput placeholder="Exemplo">
        <mat-icon matSuffix></mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>

    <div class="email">

      <div class="label-email">
        <label>E-mail: </label>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="exemplo@gmail.com">
        <mat-icon matSuffix></mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>

      <div class="bnts">
        <div class="bnt-voltar">
            <a routerLink="/produtos"><button mat-raised-button>Voltar</button></a>

        </div>

    </div>
    </div>
  </div>
</body>
