<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
</head>

<body>
    <div class="login">

        <div class="img-fundo">
            <img src="assets\img\fundo.jpg" alt="fundo">
        </div>

        <div class="Caixas-login">
            <div class="caixa-login-email">               
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="exemplo@gmail.com">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div class="caixa-login-senha">
                <mat-form-field appearance="fill">
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="Senha">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div class="btn-entrar">
              <a routerLink="/produtos"><button mat-raised-button>Entrar</button></a>
            </div>

            <div class="novo-cadastro">
                <p>Ainda não membro ? <a routerLink="/formulario"><button mat-raised-button>Cadastre-se</button></a></p>
            </div>
        </div>
    </div>
</body>
</html>