.login{
    position: absolute;
    border: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7))
}

.img-fundo img{
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(202, 202, 202); */
    /* position: absolute; */
    opacity: 1;
    /* background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) */
}

.Caixas-login {
    position: relative;
    margin-top: -33%;
    margin-left: 44%;
    border-style: outset;
    border-color: rgb(158, 156, 156);
    box-sizing: border-box;
    max-width: 16rem;
    background-color: rgba(201, 201, 201, 0.3);
    /* border-left: -20rem;
    padding: auto;    */
    /* height: 10px; */
    /* border-; */
}

.btn-entrar {
    margin-top: 1rem;
    margin-left: 5.5rem;
}

.novo-cadastro {
    margin-left: rem;
    margin-top: 3rem;
    margin-left: 0.5rem;
    color: rgb(0, 0, 0);
    font-style: oblique;
}

.caixa-login-senha {
    margin-top: 1rem;
    margin-left: 1rem;
}

.caixa-login-email {
    margin-top: 1rem;
    margin-left: 1rem;
}