<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    </head>
    <body> 
        <div class="cadastro">
            <div class="nome">
                <label>Nome: </label>
                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Exemplo">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div class="sobrenome">
                <label>Sobrenome: </label>
                <mat-form-field appearance="fill">
                    <mat-label>Sobrenome</mat-label>
                    <input matInput placeholder="Exemplo">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div class="email">
                <label>E-mail: </label>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="exemplo@gmail.com">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div class="senha">
                <label>Senha: </label>
                <mat-form-field appearance="fill">
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="Senha">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div class="conf-senha">
                <label>Confirme sua senha: </label>
                <mat-form-field appearance="fill">
                    <mat-label>Confirme sua senha</mat-label>
                    <input matInput placeholder="Confirme sua senha">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>
        </div>   
    </body>    
</html>
