<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    </head>
    <body> 
        <div class="cadastro">
            <div class="nome">

                <div class="label-nome">
                    <label>Nome: </label>
                </div>
            
                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Exemplo">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div class="sobrenome">

                <div class="label-sobrenome">
                    <label>Sobrenome: </label>
                </div>

                <mat-form-field appearance="fill">
                    <mat-label>Sobrenome</mat-label>
                    <input matInput placeholder="Exemplo">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div class="endereco">

                <div class="label-endereco">
                    <label>Endereço: </label>
                </div>

                <mat-form-field appearance="fill">
                    <mat-label>Endereço</mat-label>
                    <input matInput placeholder="Exemplo">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div class="bairro">

                <div class="label-bairro">
                    <label>Bairro: </label>
                </div>

                <mat-form-field appearance="fill">
                    <mat-label>Bairro</mat-label>
                    <input matInput placeholder="Exemplo">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div class="email">

                <div class="label-email">
                    <label>E-mail: </label>
                </div>

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="exemplo@gmail.com">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div class="senha">

                <div class="label-senha">
                    <label>Senha: </label>
                </div>

                <mat-form-field appearance="fill">
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="Senha">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div class="conf-senha">

                 <div class="label-confi-senha">
                    <label>Confirme sua senha: </label>
                 </div>

                <mat-form-field appearance="fill">
                    <mat-label>Confirme sua senha</mat-label>
                    <input matInput placeholder="Confirme sua senha">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div class="bnts">
                <div class="bnt-confi">
                    <a routerLink=""><button mat-raised-button>Voltar</button></a> 
                    <a routerLink="/produtos"><button mat-raised-button>Confirmar</button></a>                      
                </div>
            </div>
        </div>  
    </body>    
</html>